<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="translator-home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'TRANSLATORS.profile.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="ready">
  <br />
  <div class="center" *ngIf="avatar">
    <img class="circle_img" [src]="avatar" referrerpolicy="no-referrer" />
    <div (click)="addPhotoToGallery()">
      <ion-icon name="camera-outline"></ion-icon>
    </div>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <br />
    <ion-item lines="none">
      <ion-label position="stacked">First name</ion-label>
      <ion-input
        type="text"
        placeholder="John"
        formControlName="first_name"
        [value]="profileForm.get('first_name').value | trim | ucwords"
        outline
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Last name</ion-label>
      <ion-input
        type="text"
        placeholder="Doe"
        formControlName="last_name"
        [value]="profileForm.get('last_name').value | trim | ucwords"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Middle name</ion-label>
      <ion-input
        type="text"
        placeholder=""
        formControlName="middle_name"
        [value]="profileForm.get('middle_name').value | trim | ucwords"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Date of birth</ion-label>
      <ion-input
        type="date"
        placeholder=""
        formControlName="date_of_birth"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Gender</ion-label>

      <mat-select placeholder="Select One" formControlName="gender">
        <mat-option value="f">Female</mat-option>
        <mat-option value="m">Male</mat-option>
        <mat-option value="o">Other</mat-option>
        <mat-option value="x">I don't want to share</mat-option>
      </mat-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Nationality</ion-label>
      <ion-input
        type="text"
        placeholder="Spanish"
        formControlName="nationality"
        [value]="profileForm.get('nationality').value | trim | ucwords"
        (click)="openCountriesModal('nationality')"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Country of residence</ion-label>
      <ion-input
        type="text"
        placeholder="France"
        formControlName="country_of_residence"
        [value]="profileForm.get('country_of_residence').value | trim | ucwords"
        (click)="openCountriesModal('country_of_residence')"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">City</ion-label>
      <ion-input
        type="text"
        placeholder="Paris"
        formControlName="city"
        [value]="profileForm.get('city').value | trim | ucwords"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Zip code</ion-label>
      <ion-input
        type="text"
        placeholder="75006"
        formControlName="zip_code"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Address</ion-label>

      <ion-textarea
        type="text"
        placeholder="118 Boulevard Saint-Germain, 75006, Paris"
        formControlName="address"
        [value]="profileForm.get('address').value | trim | ucfirst"
      ></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input
        type="text"
        placeholder="+33 1 40135699"
        formControlName="phone_number"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Languages</ion-label>
      <ion-select
        placeholder="Select"
        formControlName="languages"
        multiple="true"
      >
        <ion-select-option value="FR">French</ion-select-option>
        <ion-select-option value="EN">English</ion-select-option>
        <ion-select-option value="SP">Spanish</ion-select-option>
        <ion-select-option value="DE">German</ion-select-option>
        <ion-select-option value="ZH">Chinese</ion-select-option>
        <ion-select-option value="O">Other</ion-select-option>
      </ion-select></ion-item
    >
    <ion-item lines="none">
      <ion-label position="stacked">Occupation</ion-label>
      <ion-select placeholder="Select One" formControlName="occupation">
        <ion-select-option value="student">Student</ion-select-option>
        <ion-select-option value="fulltime"
          >Full time employee</ion-select-option
        >
        <ion-select-option value="parttime"
          >Part time employee</ion-select-option
        >
        <ion-select-option value="o">Other</ion-select-option>
      </ion-select></ion-item
    >

    <ion-item lines="none">
      <ion-label position="stacked">Type of services</ion-label>
      <ion-select
        placeholder="Select"
        formControlName="types_of_services"
        multiple="true"
      >
        <ion-select-option value="TR"
          >Translations assistance</ion-select-option
        >
        <ion-select-option value="DC">Document Translations</ion-select-option>
        <ion-select-option value="O">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Description</ion-label>

      <ion-textarea
        type="text"
        placeholder="tell us about yourself ..."
        formControlName="description"
        [value]="profileForm.get('description').value | trim | ucwords"
      ></ion-textarea>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      class="ion-padding-horizontal ion-margin-vertical"
      [disabled]="!profileForm.valid"
    >
      <ion-icon slot="start" name="checkmark"></ion-icon>
      Save
    </ion-button>
    <br />
  </form>
</ion-content>
