.average {
  color: grey;
  text-align: center;
  font-size: 18px;
}

.title {
  text-align: center;
  font-size: 18px;
}

mbsc-card {
  font-weight: normal;
  border-width: 1px;
  padding: 16px;
  margin: 10.5px;
  border-radius: 6px;
  font-size: 14px;
  padding: 16px 0 16px 0;
}
