.flag-image {
  position: absolute;
  max-width: 15%;
}

::ng-deep .searchbar-input {
  box-shadow: none !important;
}

.ctry-padding {
  padding: 0 8px 0 16px;
}

img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
