.rate {
  font-size: 30px;
  text-align: center;
}

.show-only {
  font-size: 20px;
  text-align: center;
}

.view-comments {
  font-size: 12px;
  color: var(--ion-color-primary);
  cursor: pointer;
  padding-left: 1em;
}
